@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
}



#nprogress .bar {
  background: rgb(255, 4, 222) !important;
  height: 4px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px rgb(221, 34, 165), 0 0 5px rgb(221, 34, 209) !important;
}

#nprogress .spinner-icon {
  display: none !important;
}